<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="./shared-styles.css">

    <style>
        .bleach{
            background: white;
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 999999;

            display: none;
        }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    <div class="bleach" id="bleach"></div>
    <!-- built files will be auto injected -->

    <script>
        window.flush = () => {
            document.getElementById('bleach').style.display = 'block';

            setTimeout(() => {
                document.getElementById('bleach').style.display = 'none';
            }, 400);
        }
    </script>
  </body>
</html>
