@font-face {
    font-family: 'Halvar Breit Lt';
    src: url('/fonts/HalvarBreit/HalvarBreit-Lt.eot');
    src: local('Halvar Breitschrift Light'), local('HalvarBreit-Lt'),
        url('/fonts/HalvarBreit/HalvarBreit-Lt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HalvarBreit/HalvarBreit-Lt.woff2') format('woff2'),
        url('/fonts/HalvarBreit/HalvarBreit-Lt.woff') format('woff'),
        url('/fonts/HalvarBreit/HalvarBreit-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Halvar Breit Md';
    src: url('/fonts/HalvarBreit//HalvarBreitHalvarBreit-Md.eot');
    src: local('Halvar Breitschrift Medium'), local('HalvarBreit-Md'),
        url('/fonts/HalvarBreit//HalvarBreitHalvarBreit-Md.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HalvarBreit//HalvarBreitHalvarBreit-Md.woff2') format('woff2'),
        url('/fonts/HalvarBreit//HalvarBreitHalvarBreit-Md.woff') format('woff'),
        url('/fonts/HalvarBreit//HalvarBreitHalvarBreit-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Halvar Breit Rg';
    src: url('/fonts/HalvarBreit/HalvarBreit-Rg.eot');
    src: local('Halvar Breitschrift Regular'), local('HalvarBreit-Rg'),
        url('/fonts/HalvarBreit/HalvarBreit-Rg.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HalvarBreit/HalvarBreit-Rg.woff2') format('woff2'),
        url('/fonts/HalvarBreit/HalvarBreit-Rg.woff') format('woff'),
        url('/fonts/HalvarBreit/HalvarBreit-Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlas Grotesk';
    src: local('Atlas Grotesk Regular'), local('Atlas Grotesk'),
        url('/fonts/AtlasGrotesk/AtlasGrotesk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --dark: #2A2A2A;
    --blue: #124ADF;
    --white: #FFFFFF;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Atlas Grotesk', sans-serif;
}