<template>
    <Custom />
</template>

<script>
import Custom from '@/components/Custom.vue'

export default {
    name: 'CustomPage',
    components: {
        Custom
    }
}
</script>

<style>

</style>