<template>

    <div :class="['quest-page', showAlert === true ? 'alert-s' : '']">

        <div class="number">
            <div class="progress" v-if="showAlert === false"> 0{{ currentQuestion }} — 0{{ quests.length }}</div>
            <div class="alert" v-else>{{ result ? 'Правильно!' : 'Неверно :(' }}</div>
        </div>

        <div class="line" v-if="showAlert === false"></div>

        <div class="question" v-if="showAlert === false">

            <div class="question-text" v-html="question.question">
                
            </div>

            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M80 0H0L79.9999 80L80 0Z" fill="#2A2A2A"/>
            </svg>

        </div>

        <div class="placeholder">

            <div class="image">
                <img id="image" :src="`/assets/${renderedImage}`" alt="" style="display: none;">
            </div>

            <div class="grid">
                <div class="cell" :class="[currentLetterIndex === index ? 'focused': '']" v-for="(item, index) in question.answer" :key="item">

                </div>
            </div>
        </div>

    </div>

    <Decode ref="decode" @placeLetter="applyLetter" :enabled="showAlert" :currentQuestion="question" @flush="flush" />
    
</template>

<script>
import Quest from '@/components/Quest.vue';
import Decode from '@/components/Decode.vue';

export default {
    name: 'QuestPage',
    components: {
        Quest,
        Decode
    },
    data() {
        return {
            quests: [
                {
                    image: 'sos.svg',
                    question: 'Как обозначается самый известный международный сигнал бедствия?',
                    answer: [
                        'с', 'о', 'с'
                    ]
                },
                {
                    image: 'god.svg',
                    question: 'О ком говорится в первом сообщении, переданным Морзе через телеграф по линии от Вашингтона до Балтимора?',
                    answer: [
                        'б', 'о', 'г'
                    ]
                },
                {
                    image: 'veil.svg',
                    question: 'Назовите фамилию коллеги Морзе, который на самом деле разработал азбуку, получившую его имя.',
                    answer: [
                        'в', 'е', 'й', 'л'
                    ]
                },
                {
                    image: 'zero.svg',
                    question: 'Сигнал этой цифры является самым длинным в азбуке Морзе и состоит из пяти тире. <br> Назовите её.',
                    answer: [
                        'н', 'о', 'л', 'ь'
                    ]
                },
                {
                    image: 'crater.svg',
                    question: 'Что на Луне было названо Международным астрономическим союзом в честь Сэмюэля Морзе?',
                    answer: [
                        'к', 'р', 'а', 'т', 'е', 'р'
                    ]
                },
                {
                    image: 'key.svg',
                    question: 'Чтобы отправить сообщение морзянкой, нужен он. Вместо него можно использовать клавишу от клавиатуры, два разомкнутых провода и даже ложку. <br> О чем речь?',
                    answer: [
                        'к', 'л', 'ю', 'ч'
                    ]
                },
                {
                    image: 'portrait.svg',
                    question: 'Назовите жанр живописи, в котором Сэмюэл Морзе преуспел до изобретения телеграфа.',
                    answer: [
                        'п', 'о', 'р', 'т', 'р', 'е', 'т'
                    ]
                }
            ],
            wrongAlert: {
                image: 'wrong.svg',
                question: 'Слово введено некорректно. Введите другое слово.',
                answer: []
            },
            // renderedImage: '',
            correctAnswer: 'Это правильный ответ! Вы молодец!',
            currentQuestion: 1,
            currentLetterIndex: 0,
            word: [],
            showAlert: false,
            result: false,
            idle: undefined
        }
    },
    mounted() {
        this.idleSet();
    },
    methods: {
        flush() {
            this.word = [];
            this.currentLetterIndex = 0;
            const cells = document.querySelectorAll('.cell');

            this.quests[this.currentQuestion - 1].answer.forEach((element, index) => {
                cells[index].innerText = '';
            });
        },
        applyLetter(letter) {
            console.log(`Letter: ${letter[0]}`);
            
            const targetCell = document.querySelectorAll('.cell')[this.currentLetterIndex];
            targetCell.innerText = letter[0];

            this.word.push(letter);
            this.currentLetterIndex += 1;

            clearTimeout(this.idle);
            this.idleSet();
            
        },
        idleSet() {
            this.idle = setTimeout(() => {
                this.$router.push('/');
                setTimeout(() => {
                    window.location.reload();
                }, 50);
            }, 80000);
        },
        postIt() {
            const myHeaders = new Headers();
            const myRequest = new Request('http://127.0.0.1:8081/rec', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({command: 0})
                // mode: 'no-cors',
            });

            fetch(myRequest)
                .then(response => {console.log(response)});

        },
        wrongCells() {
            const cells = document.querySelectorAll('.cell');
            
            this.word.forEach((element, index) => {
                if(element[0].toLowerCase() !== this.question.answer[index].toLowerCase() ){
                    cells[index].classList.add('wrongCell');

                    setTimeout(() => {
                        this.$refs.decode.rednderCorrect()
                        cells[index].classList.remove('wrongCell');
                        cells[index].innerHTML = this.question.answer[index];
                    }, 4000)

                }
            });

        }
    },
    watch: {
        currentLetterIndex(newValue, oldValue){
            // console.log({newValue});
            // console.log(this.question.answer.length);
            if(newValue === this.question.answer.length){
                this.postIt();
                let check = true;
                this.word.forEach((element, index) => {
                    
                    // console.log('==============================');
                    // console.log(element[0]);
                    // console.log(this.question.answer[index]);
                    // console.log('==============================');
                    if(element[0].toLowerCase() !== this.question.answer[index].toLowerCase() ){
                        check = false;
                    }
                });

                console.log({check});
                this.$refs.decode.drawFullWord()
                if(!check){
                    this.wrongAlert.answer = this.question.answer;
                    this.showAlert = true;
                    this.result = false;
                    // this.currentQuestion = wrongAlert;

                    setTimeout(() => {
                        const cells = document.querySelectorAll('.cell');

                        // this.quests[this.currentQuestion - 1].answer.forEach((element, index) => {
                        //     cells[index].innerText = element;
                        // });

                        this.wrongCells();

                        document.getElementById('image').style.display = 'block';

                        setTimeout(() => {
                            window.flush();
                            if(this.currentQuestion === this.quests.length){
                                this.$router.push('/');
                                window.reload();
                            }

                            cells.forEach(element => {
                                element.innerText = '';
                                document.getElementById('image').style.display = 'none';
                            });
                            this.word = [];
                            this.currentLetterIndex = 0;
                            this.currentQuestion += 1;
                            this.showAlert = false;
                            this.result = false;
                        }, 10000);

                    }, 30);
                }else{
                    this.showAlert = true;
                    this.result = true;

                    // this.renderedImage = this.question.image;
                    document.getElementById('image').style.display = 'block';

                    setTimeout(() => {
                        window.flush();
                         const cells = document.querySelectorAll('.cell');  
                        this.currentQuestion += 1;

                        if(this.currentQuestion === this.quests.length){
                            this.$router.push('/');
                            window.reload();
                        }
                        this.word = [];
                        this.currentLetterIndex = 0;
                        document.getElementById('image').style.display = 'none';

                        cells.forEach(element => {
                            element.innerText = '';
                            // document.getElementById('image').style.display = 'none';
                        });
                        // this.word = [];
                        // this.currentLetterIndex = 0;
                        // this.currentQuestion += 1;
                        this.showAlert = false;
                        this.result = false;

                    }, 6000);
                    
                }

            }
        }
    },
    computed: {
        question() {
            return this.quests[this.currentQuestion - 1];
        },
        renderedImage() {
            return this.quests[this.currentQuestion - 1].image;
        }
    }
}
</script>

<style scoped>
    .quest-page{
        position: relative;
        height: 1164px;
        padding: 40px 140px;
    }

    .alert-s{
        padding-top: 120px;
    }

    .number{
        font-family: 'Halvar Breit Rg', sans-serif;
        font-size: 80px;
        line-height: 1.2;
        color: var(--dark);
        letter-spacing: -0.02em;
    }

    .line{
        width: 280px;
        height: 6px;
        background: black;
        margin: 80px 0;
    }

    .question{
    }
    .question-text{
        font-family: 'Halvar Breit Rg', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 76px;
        line-height: 120%;
        color: black;
        position: relative;
    }
    .question > svg{
        position: absolute;
        right: 0;
        bottom: -78px;
    }

    .placeholder{}

    #image{
        margin: 0 auto;
        /* transform: translateY(-150px); */
    }

    .grid{
        display: flex;
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: 999;

        right: 0;
        justify-content: center;
    }

    .cell{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 234px;
        height: 234px;
        border-top: 9px solid var(--dark);
        border-bottom: 9px solid var(--dark);
        border-right: 9px solid var(--dark);
        border-collapse: collapse;

        font-family: 'Halvar Breit Rg', sans-serif;
        font-weight: normal;
        font-size: 186px;
        line-height: 1;
        color: var(--dark);
        background: white;
        text-transform: uppercase;
    }
    .cell:first-child{
        border-left: 9px solid var(--dark);
    }

    .cell.focused{
        background: var(--dark);
    }
    
    .cell.wrongCell{
        background: var(--dark);
        color: white;
    }

</style>