<template>
    <div class="custom">
        
        <div class="custom-bubble" v-if="currentLetterIndex === 0">

            <div class="custom-bubble-icon">
                <svg width="190" height="166" viewBox="0 0 190 166" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.3359 71.9708H3V3H186.922V71.9708H61.6252" stroke="white" stroke-width="6" stroke-miterlimit="10" stroke-linecap="square"/>
                    <path d="M143.942 25.6006V22.6006H137.942V25.6006H143.942ZM137.942 48.5908V51.5908H143.942V48.5908H137.942ZM137.942 25.6006V48.5908H143.942V25.6006H137.942Z" fill="white"/>
                    <path d="M163.932 40.095L166.932 40.095L166.932 34.095L163.932 34.095V40.095ZM60.4755 34.095L57.4755 34.095L57.4755 40.095L60.4755 40.095L60.4755 34.095ZM163.932 34.095L60.4755 34.095L60.4755 40.095L163.932 40.095V34.095Z" fill="white"/>
                    <path d="M60.4756 19.8528H25.9902V54.3382H60.4756V19.8528Z" stroke="white" stroke-width="6"/>
                    <path d="M37.2555 140.148V94.42V73.8092C37.2555 67.4984 42.4053 62.3831 48.7506 62.3831C55.1189 62.3716 60.2802 67.4984 60.2802 73.8092V94.1441H117.836C124.193 94.1441 129.343 99.2594 129.343 105.57V151.574C129.343 157.885 124.193 163 117.836 163H14.5066C8.14983 163 3 157.885 3 151.574C3 145.263 8.14983 140.148 14.5066 140.148H37.2555Z" stroke="white" stroke-width="6" stroke-miterlimit="10"/>
                    <path d="M83.2939 116.998V94.1455" stroke="white" stroke-width="6" stroke-miterlimit="10"/>
                    <path d="M60.2808 116.998V94.1455" stroke="white" stroke-width="6" stroke-miterlimit="10"/>
                    <path d="M106.318 116.998V94.1455" stroke="white" stroke-width="6" stroke-miterlimit="10"/>
                </svg>
            </div>

            <div class="custom-bubble-text">
                {{ bubble }}
            </div>

            <svg class="bubble-tail" width="124" height="124" viewBox="0 0 124 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 124V0H124L0 124Z" fill="#2A2A2A"/>
            </svg>

        </div>

        <div class="custom-field">
            <div class="cells-field">
                <div class="cell" :class="[currentLetterIndex === index ? 'focused': '']" v-for="(item, index) in field" :key="item">
                    {{ item[0] }}    
                </div>  
            </div>
        </div>

        <Decode @placeLetter="applyLetter" />
    </div>
</template>

<script>
import Decode from '@/components/Decode.vue';

export default {
    name: 'Custom',
    components: {
        Decode
    },
    data() {
        return {
            bubble: 'С помощью телеграфного ключа введите символы азбуки Морзе, чтобы набрать свое слово',
            field: [
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
                '',
            ],
            currentLetterIndex: 0,
            idle: undefined
        }
    },
    mounted() {
        this.idleSet();
    },
    methods: {
        applyLetter(letter) {
            console.log(`Letter: ${letter[0]}`);

            clearInterval(this.idle);
            this.idleSet();
            
            // const targetCell = document.querySelectorAll('.cell')[this.currentLetterIndex];
            // targetCell.innerText = letter[0];

            this.field[this.currentLetterIndex] = letter;
            this.currentLetterIndex += 1;
        },
        idleSet() {
            this.idle = setTimeout(() => {
                this.$router.push('/');
                setTimeout(() => {
                    window.location.reload();
                }, 50);
            }, 80000);
        }
    }
}
</script>

<style scoped>
.custom-bubble{
    background: var(--dark);
    color: white;
    padding: 106px 196px 106px 124px;
    position: relative;

    position: absolute;
    width: 1280px;
    height: 644px;
    left: 320px;
    top: 160px;
    z-index: 99;
}
.custom-bubble-icon{
    position: absolute;
    right: 0;
    top: 0;
}
.custom-bubble-text{
    font-weight: normal;
    font-size: 64px;
    line-height: 120%;
}
.bubble-tail{
    position: absolute;
    bottom: -78px;
    left: 0;
}
.custom-field{
    height: 1164px;
    position: relative;
}

.cells-field {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    bottom: 0;
}
.cell{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 234px;
    height: 234px;
    border-top: 9px solid var(--dark);
    border-right: 9px solid var(--dark);
    border-collapse: collapse;

    font-weight: normal;
    font-size: 186px;
    line-height: 1;
    color: var(--dark);
}
.cell:first-child,
.cell:nth-child(9),
.cell:nth-child(17){
    border-left: 9px solid var(--dark);
}
.cell:nth-child(n+17){
    border-bottom: 9px solid var(--dark);
}

.cell.focused{
    background: var(--dark);
}
</style>