<template>
    <div class="decode">

        <div class="decoded">

            <div class="symbol" v-for="(item, index) in word" :key="item[1]" :style="[ item[0] === 'end' && index === word.length - 1 ? 'display: none;' : '']">
                <img :src="`/assets/${item[0]}.svg`" alt="" />
            </div>

        </div>

        <button style="opacity: 0;position: absolute;right:0;bottom:0;height:240px;width:240px;" @click="flush"></button>

    </div>
</template>

<script>

export default {
    name: 'Decode',
    data() {
        return {
            word: [],
            storedResponse: [],
            lastSymbol: undefined,
            ticker: 0,
            isDown: false,
            mode: '',
            alphabet: [
                ['А', '.-'],
                ['Б', '-...'],
                ['В', '.--'],
                ['Г', '--.'],
                ['Д', '-..'],
                ['Е', '.'],
                ['Ж', '...-'],
                ['З', '--..'],
                ['И', '..'],
                ['Й', '.---'],
                ['К', '-.-'],
                ['Л', '.-..'],
                ['М', '--'],
                ['Н', '-.'],
                ['О', '---'],
                ['П', '.--.'],
                ['Р', '.-.'],
                ['С', '...'],
                ['Т', '-'],
                ['У', '..-'],
                ['Ф', '..-.'],
                ['Х', '....'],
                ['Ц', '-.-.'],
                ['Ч', '---.'],
                ['Ш', '----	'],
                ['Щ', '--.-	'],
                ['Ъ', '--.--'],
                ['Ы', '-.--'],
                ['Ь', '-..-'],
                ['Э', '..-..'],
                ['Ю', '..--'],
                ['Я', '.-.-']
            ],
            idle: null,
            activeLetter: 0,
            lastCommand: 2,
            safety: true,
            lastTime: 0,
            recTime: 0,
            prevStamp: 0,
        }
    },
    props: {
        enabled: Boolean,
        currentQuestion: Object
    },
    mounted() {
        if(window.location.pathname === '/'){
            this.mode = 'HomeScreen';
        }else{
            this.mode = 'recognize';
        }
        document.addEventListener('keydown', this.down);
        document.addEventListener('keyup', this.up);

        // 
        // const eventSource = new EventSource("http://localhost:8089/stream");
        // console.log("Start stream!");
        
        // eventSource.onmessage = (message) => {
        //     console.log(message);
        //      const msg = message.data.split('|')[0];
        //     if(message.data !== this.lastCommand && this.enabled === false && Number(msg) > 0){
                
        //         const stamp = message.data.split('|')[1];

        //         if(this.prevStamp < stamp){
        //             this.prevStamp = stamp;
        //             this.lastCommand = msg;

        //             // if(message.data == 1){
        //             //     this.down();
        //             // }else if(message.data == 0){
        //             //     this.up();
        //             // }
                    
        //             this.lastSymbol = null;
        //             const timings = Number(msg);

        //             if(this.lastTime !== timings){
        //                 this.lastTime = timings;
        //                 // console.log({distance});
        //                 if(timings <= 200){
        //                     this.word = [...this.word, '.'];
        //                 }else if(timings > 201){
        //                     this.word = [...this.word, '-'];
        //                 }else{
        //                     this.word = [...this.word, '-'];
        //                 }
                        
        //                 try{
        //                     clearTimeout(this.idle);
        //                 }catch(e){
        //                     console.log(e);
        //                 }

        //                 if(this.recTime){
        //                     clearTimeout(this.recTime);
        //                 }
        //                 this.recTime = setTimeout(() => {
        //                     this.lastSymbol = 'end';
        //                 }, 2000);

        //                 this.idle = setTimeout(() => {
                        
        //                     this.lastSymbol = 'end';
        //                     // this.word = [...this.word, 'end'];
                        
        //                 }, 91500);
        //             }
        //         }

        //     }

        //     // console.log(`id: ${message.lastEventId} data: ${message.data}`);

        // }

        // eventSource.addEventListener("end-of-stream", () => {
        //     console.log("End of stream!");
        //     eventSource.close();
        // })
        // // 
        // const clrSource = new EventSource("http://localhost:8081/clr");
        
        // clrSource.onmessage = (message) => {

        //     if(message.data == 1){
        //         if(this.safety){
        //             this.$router.push('/');
        //             setTimeout(() => {
        //                 window.location.reload();
        //             }, 100);
                    
        //             this.safety = false;
        //         }
                
        //     }

        // }

        // clrSource.addEventListener("end-of-stream", () => {
        //     console.log("End of stream!");
        //     clrSource.close();
        // })
        // 
    },
    methods: {
        flush() {
            this.clearWord();
            this.$emit('flush');
            this.storedResponse = [];
        },
        down(e) {
            if(this.isDown === false){
                this.ticker = Date.now();
                // console.log(this.ticker);
                this.isDown = true;

                if(this.idle){
                    clearTimeout(this.idle);
                }
            }
        },
        up(e) {
            this.lastSymbol = null;
            const unTick = Date.now();
            const distance = (unTick - this.ticker);
            this.ticker = 0;
            this.isDown = false;

            // console.log({distance});
            if(distance <= 299){
                // this.word = [...this.word, ['.', Date.now()]];
                this.word = [...this.word, ['.', this.uuidv4() ]];
                // this.storedResponse.push(['.', this.uuidv4() ]);
            }else if(distance > 300){
                this.word = [...this.word, ['-', this.uuidv4() ]];
                // this.word = [...this.word, '-'];
                // this.storedResponse.push(['-', this.uuidv4() ]);
            }else{
                this.word = [...this.word, ['-', this.uuidv4() ]];
                // this.storedResponse.push(['-', this.uuidv4() ]);
                // this.storedResponse.push('-');
            }

            

            this.idle = setTimeout(() => {
            
                this.lastSymbol = 'end';
                this.word = [...this.word, ['end', this.uuidv4()]];
                // this.storedResponse.push(['end', Date.now()]);
                // this.storedResponse.push(['end', this.uuidv4()]);
            
            }, 350);

        },
        clearWord() {
            this.word = [];
            // const elems = document.querySelectorAll('.symbol');
            // elems.forEach(el => {
            //     el.remove();
            // });

        },
        getLetter() {
            console.log(this.word);
            let currentWord = '';

            for (let i = 0; i < this.word.length - 1; i++) {
                const element = this.word[i][0];
                currentWord += element;
            }
            // this.word.forEach(w => {
            //     currentWord += w;
            // });

            // console.log({currentWord})

            let check = this.alphabet.find(w => w[1] === currentWord);

            if(check){
                this.word.forEach(item => {
                    console.log({item})
                    this.storedResponse.push(item);
                });
                // this.storedResponse = [...this.storedResponse, ...this.word]
            }

            return check ? check : false;
        },
        postIt() {
            const myHeaders = new Headers();
            const myRequest = new Request('http://127.0.0.1:8081/rec', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({command: 0})
                // mode: 'no-cors',
            });

            fetch(myRequest)
                .then(response => {console.log(response)});

        },
        drawFullWord() {
            console.log('drawFullWord')
            this.word = this.storedResponse;
            setTimeout(() => {
                this.storedResponse = [];
            }, 4200)
        },
        rednderCorrect() {
            console.log('rednderCorrect')
            const correctCode = this.currentQuestion.answer.map((item) => {
                const code = this.alphabet.find(w => w[0].toLowerCase() === item.toLowerCase());
                return code[1].split('');
            });
            console.log({correctCode})
            let result = [];
            correctCode.forEach(item => {
                item.forEach(letter => {
                    result.push([letter, this.uuidv4()])
                });
                result.push(['end', this.uuidv4()]);
            })
            this.word = result;
            setTimeout(() => {
                this.clearWord();
            }, 5950);

        },
        uuidv4() {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        )}
    },
    watch: {
        lastSymbol(newValue, oldValue) {
            
            if(newValue === null){
                return false;
            }
            if(newValue === 'end'){
                
                const inputLetter = this.getLetter();
                if(inputLetter){
                    console.log({inputLetter});
                    this.$emit('placeLetter', inputLetter);
                }else{
                    console.log('Failed!');
                }
                this.clearWord();
                this.lastSymbol = null;
            }
        },
        word(newValue, oldValue) {
            
            if(newValue.length <= 0 || !newValue){
                return false;
            }

            if(this.mode === 'HomeScreen'){
                if(this.word[this.word.length - 1][0] === '.'){
                    this.postIt();
                    this.$router.push('/quest');
                    this.mode = 'custom';
                    this.word = [];
                }else if(this.word[this.word.length - 1][0] === '-'){
                    this.postIt();
                    this.$router.push('/custom');
                    this.mode = 'quest';
                    this.word = [];
                }
            }else{
                

            }

        }
    },
    computed: {
        // letter() {
        //     let currentWord = '';
        //     this.word.forEach(w => {
        //         currentWord += w;
        //     });

        //     let check = this.alphabet.find(w => w[1] === currentWord);

            
        //     return check;
        // }
    }
};
</script>

<style>

.decode{
    position: relative;
    height: 240px;
    background: var(--dark);
}

.decoded{
    position: absolute;
    top: 0px;
    left: 80px;
    right: 80px;
    display: flex;
    height: 240px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.symbol{
    margin-right: 30px;
    /* margin-bottom: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
