<template>
    <div id="nav" style="display: none;">
        <router-link to="/">Home</router-link> |
        <router-link to="/custom">Custom</router-link> |
        <router-link to="/quest">Quest</router-link>
    </div>
    <router-view/>

</template>

<script>
import Decode from '@/components/Decode.vue';

export default{
    name: 'Application',
    components: {
        Decode
    }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  width: 1872px;
  height: 1404px;
  overflow: hidden;
}
#nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

</style>
